@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    pad: 10px 70px;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

nav div .logo img {
    width: 70%;
}

.navbar-main .items .items-list {
    display: flex;
    color: #f8f9fa;
    justify-content: center;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.contact-details {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    color: #f8f9fa;
}

div.contact-details img {
    z-index: 2;
    position: absolute;
    left: 60px;
}

.contact-details div:nth-child(3) {
    z-index: 3;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F637EC;
    width: 15%;
    padding: 25px 0;
}

.hamburger div {
    width: 50%;
}

.hamburger-inside div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f8f9fa;
    margin: 5px;
    width: 80%;
}

.credit-cards {
    background-color: #000000;
    display: flex;
    /* width: 100%; */
}

.credit-cards .left-section {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 120px;
    padding: 40px 70px;
}

.credit-cards .transactions, .transactions-1{
    color: #f8f9fa;
    font-size: 1.9rem;
}

.transactions-1 span {
    color: #f637ec;
}

.paragraph-1, .paragraph-2 {
    color: #adb5bd;
}

.paragraph-1 {
    margin-top: 30px;
}

.paragraph-2 {
    margin-bottom: 50px;
}

.number-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.number-1, .btn {
    color: #f8f9fa;
}

.num-42 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-42 span {
    color: #F637EC;
}

.num-12 span {
    color: #F637EC;
}

.num-42 div {
    padding-left: 10px;
}

.btn {
    margin-bottom: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: 120px;
}

.btn span {
    margin-left: 20px;
    z-index: 2;
}

.arrow {
    display: flex;
    align-items: center;
}


.right-section .font-cards{
    width: 50%;
    position: absolute;
    right: -2%;
    /* margin-bottom: 450px; */
}

.back-cards .back-cards {
    width: 50%;
    right: 120px;
    position: absolute;
    top: -50px;
}

.section-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 55px;
    background-color: #292929;
}

/* .section-logo div img {
    width: 15px;
} */

.services {
    color: #f8f9fa;
    background-color: #000000;
    padding: 40px 70px;
}

.services-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    column-gap: 20px;
    margin-top: 50px;
}

.services-2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.services-2 div:nth-child(odd) {
    background-color: #272727;
}

.services-2 div:nth-child(2) {
    background-color: #545352;
}

.services-2 div:nth-child(2) {
    position: relative;
    bottom: 10px;
}

 .services .services-1 {
    display: flex;
}

.payment-services {
    flex: 6;
}

.servies-part {
    flex: 4;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 30px;
}

.payment-services {
    font-size: 4.1rem;
    line-height: 4.8rem;
    font-weight: 900;
}

.payment-services span {
    color: #f637ec;
}


.card-choices {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fceffb;
    padding: 60px 70px;
}

.cards {
    display: flex;
    justify-content: center;
    background-color: #fceffb;
    width: 100%;
    position: relative;
    bottom: 40px;
}

.cards img {
    width: 70%;
}

.unique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 900;
    z-index: 3;
}

.unique p:nth-child(2) {
    color: #f637ec;
}

.editing-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    text-align: center;
    margin-top: 15px;
}


.testimonial {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #000000;
}

.customers-satisfied, .customer-1 {
    text-align: center;
    color: #fceffb;
}

.customers-satisfied {
    font-size: 4rem;
    font-weight: 900;
}

.customer-1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.customers-satisfied span {
    color: #f637ec;
}

.testimonial-section-1, .testimonial-section-2 {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 40px 70px;
}

.ratings-1 p, .ratings-2 p, .ratings-3 p, .ratings-4 p {
    color: #f8f9fa;
}

.ratings-1, .ratings-2, .ratings-3, .ratings-4 {
    flex: 1;
    padding: 10px 10px;
    border: 1px solid #f8f9fa;
    /* border-bottom: 0; */
}

.ratings-2, .ratings-3, .ratings-4 {
    color: #272727;
    border-bottom: 0;
}

.ratings-1 {
    background-color: #545352;
}

.ratings-1 .para-1 {
    margin-top: 5px;
}

.Melvin {
    margin-top: 15px;
}

.Melvin p:nth-child(2) {
    color: gray;
}

.para-2 {
    margin-top: 5px;
}

.Gabriel {
    margin-top: 15px;
}

.Gabriel p:nth-child(2) {
    color: gray;
}

.para-3 {
    margin-top: 5px;
}

.Farhan {
    margin-top: 15px;
}

.Farhan p:nth-child(2) {
    color: gray;
}

.para-4 {
    margin-top: 5px;
}

.Alex {
    margin-top: 15px;
}

.Alex p:nth-child(2) {
    color: gray;
}


.swipies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}

.swipies div {
    width: 15px;
    height: 15px;
    background-color: #292929;
    border-radius: 50%;
}

.swipies div:nth-child(1) {
    width: 70px;
    border-radius: 999px;
    background-color: #f637ec;
}





