@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --color-0: #f4694c;
    --color-1: #ffffff;
    --color-2: #fde1db;
    --color-3: #000308;
    --color-4: #000000;
    --color-5: #908f90;
}

.container {
    background-image: url(./Assets/Photos/futuristic-bg.png);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
    top: 0;
    right: 0;
    width: 100%;
    transition: all .50s ease;
    padding: 22px 8%;
    z-index: 300;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 110px;
}

.list-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
}

.list-items a {
    text-decoration: none;
    color: #fefefe;
    font-weight: 500;
    font-size: 0.9rem;
}

/* .list-items a:hover {
    color: ;
} */

.button button {
    padding: 10px 30px;
    background-color: #f4694c;
    color: #fefefe;
    text-decoration: none;
    font-weight: 500;
}

.button button:nth-child(1) {
    background-color: transparent;
    border: none;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 22px 8%;
    margin-top: 120px;
}

.left {
    flex: 1;
    margin-bottom: 30px;
}

.right {
    flex: 1;
    margin-top: 120px;
}

.left h1 {
    font-size: 3.2rem;
    color: #ffffff;
}

.para {
    color: gray;
    margin-top: 30px;
}

.btn {
    margin-top: 30px;
}

.btn button {
    padding: 10px 30px;
    color: #ffffff;
    background-color: #f4694c;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #fefefe;
}

.btn button:hover {
    background-color: transparent;
    color: #fefefe;
    font-weight: 500;
    border: 1px solid #ffffff;
}

.right .play-button img {
    margin-top: 120px;
    margin-left: 320px;
}

.right .heading {
    margin-left: 220px;
    margin-top: 80px;
    color: #fefefe;
    font-weight: 500;
    font-size: 0.9rem;
}

.rightArrow {
    margin-left: 400px;
}


.game-section {
    padding: 22px 8%;
}

.image-card {
    height: 260px;
}


.game-section  .image-card .image-card-1 {
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/image\ 2.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 380px 100%;
}

div.image-card-1 .review-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.image-card .image-card-1 div button {
    background-color: #f4694c;
    color: #ffffff;
    padding: 5px 8px;
    border: 1px solid #f4694c;
}

.head h4 {
    color: #ffffff;
    font-size: 0.9rem;
}

.head {
    color: #ffffff;
    font-size: 0.9rem;
}

.game-section  .image-card .image-card-2 {
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/image\ 4.png');
    background-size: 400px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

div.image-card-2 .review-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.game-section .image-card-2 div button {
    color: #ffffff;
    background-color: #f4694c;
    padding: 5px 8px;
    border: 1px solid #f4694c;
}

.game-section .image-card-2 .head {
    color: #ffffff;
    font-size: 0.9rem;
}

.game-section .image-card .image-card-3 {
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/image\ 3.png');
    background-repeat: no-repeat;
    background-size: 400px 100%;
    background-position: center center;
}

div.image-card-3 .review-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.game-section .image-card-3 div button {
    color: #ffffff;
    background-color: #f4694c;
    border: 1px solid #f4694c;
    padding: 5px 8px;
}

.game-section .image-card-3 .head {
    color: #ffffff;
    font-size: 0.9rem;
}

.game-section .image-card .image-card-4 {
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/Rectangle\ 56.png');
    background-repeat: no-repeat;
    background-size: 400px 100%;
    background-position: center center;
}

div.image-card-4 .review-4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.game-section .image-card-4 div button {
    color: #ffffff;
    background-color: #f4694c;
    border: 1px solid #f4694c;
    padding: 5px 8px;
}

.game-section .image-card-4 .head {
    color: #ffffff;
    font-size: 0.9rem;
}

.game-section .image-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.game-section .para {
    margin-left: 315px;
    font-weight: 800;
    font-size: 2.9rem;
    color: #000000;
    margin-top: 120px;
    margin-bottom: 30px;
}

.game-section .para p:nth-child(2) {
    margin-left: 140px;
}


.war-game {
    display: flex;
    background-color: var(--color-1);
    gap: 50px;
    padding: 22px 8%;
    margin-top: 10%;
}

.left-1 {
    background-image: url(./Assets/Photos/Rectangle\ 57.png);
    background-size: 700px 100%;
    background-position: center center;
    flex: 4.5;
}

.right-1 {
    flex: 5.5;
}

.right-1 .war-para {
    font-size: 0.9rem;
    font-weight: 500;
    color: #0a0a0a;
    padding: 30px 0;
}

.right-1 .war-heading {
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 2.8rem;
    padding-top: 10px;
    font-weight: 600;
}

.war-button {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.war-button button:nth-child(1) {
    color: #ffffff;
    background-color: var(--color-0);
    padding: 10px 20px;
    border: 1px solid var(--color-0);
}

.war-button button:nth-child(1):hover {
    background-color: transparent;
    color: var(--color-0);
}

.war-button button:nth-child(2) {
    background-color: transparent;
    color: var(--color-0);
    border: 1px solid var(--color-0);
    padding: 10px 20px;
}

.war-button button:nth-child(2):hover {
    background-color: var(--color-0);
    color: var(--color-1);
}


.recomend-game {
    margin-top: 90px;
    padding: 22px 8%;
    background-color: var(--color-1);
}

.this-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recomend-heading {
    font-weight: 900;
    font-size: 1.9rem;
    font-weight: bolder;
}

/* .arrows {
    display: flex;
} */

.arrows div:nth-child(2) {
    padding: 1.5px 2px;
    background-color: var(--color-0);
    padding-left: 10px;
}
